/*
Peanuts
License: GPL
*/

@import url('../default/main.css');

/*
For custom user icon color or other style customizations, create assets/custom.css and uncomment below line.
*/
/*
@import url('../custom.css');
*/

