body{
	font-size: 1.1em;
	background: #f6f6f6;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	line-height: 1.5;
	margin: 0;
}

a{
	text-decoration: none;
	color: #0000ee;
}

a:hover{
	text-decoration: underline;
}

label, .label{
	margin-top: 10px;
}

.input{
	font-size: 1em;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 5px;
}

.btn{
	border-radius: 4px;
	background: #ccc;
	padding: 5px 10px;
	border: 0;
}

.btn-sm{
	font-size: 0.7em;
}

.btn.btn-primary{
	background: #0000ee;
	color: #fff;
}

.btn.btn-light{
	background: #e0e0e0;
	color: #000;
}

.btn.btn-muted{
	background: #aaa;
	color: #fff;
}

.editor{
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	font-size: 1em;
	font-family: 'courier new', courier;
	line-height: 1.8em;
	padding: 20px;
	tab-size: 4;
}

#post-title-editor{
	height: 20px;
	padding: 10px 20px;
	letter-spacing: 1px;
	font-family: georgia, 'courier new', courier;
}

.markdown{
	font-size: 1.03em;
	font-family: 'courier new', courier;
	tab-size: 4;
	white-space: break-spaces;
	line-height: 1.8em;
}


#flash{
	width: 700px;
	margin: 0 auto;
	background: #eee;
	padding: 10px 15px;
	border-radius: 3px;
	font-size: 0.9em;
}


/* Panel */
.panel{
	max-width: 50%;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 1px 1px #ccc;
}
.panel .heading{
	margin: 0;
	background: #eee;
	padding: 10px 10px 10px 5%;
	font-size: 1em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.panel .body{
	display: block;
	margin: 5% auto;
	width: 90%;	
}
/* END Panel */


/* Helpers */
.d-block{ display: block; }
.text-center{ text-align: center; }
.medium{ font-size: 0.9em; }
.small{ font-size: 0.8em; }
.smaller{ font-size: 0.6em; }
.clear:after{
	clear: both;
	content: " ";
	display: block;
}
.text-dark{ color: #333; }
.text-muted{ color: #777; }
.border-bottom{ border-bottom: 1px solid #eaeaea; }
.p-b{ padding-bottom: 20px; }
.m-b{ margin-bottom: 20px; }
/* END Helpers */



/* Login page */
#login {
	margin-top: 2%;
}
#login input, #login .input{
	font-size: 1em;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 5px;
}
/* END Login page */


/* Navbar */
#navbar{
	background: #dedede;
	padding: 12px 20px 12px 20px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 50px;
}
#navbar form{
	display: inline;
}
#navbar-left{
	float: left;
	width: 70%;
}
#navbar-left h1{
	font-size: 1.1em;
	margin: 2px 10px 0 0;
	display: inline-block;
}
#navbar-left #navbar-links{
	margin-left: 30px;
	font-size: 0.8em;
}
#navbar-left #navbar-links a{
	color: #333;
}
#navbar-right{
	float: right;
	text-align: right;
	width: 30%;
	font-size: 1em;
}
/* END Navbar */


/* Main */
#main{
	margin: 20px;
}
#main #flash{
	max-width: 80%;
	margin: 0 auto;
}
/* END Main */


/* User */
.user-icon{
	color: #fff;
	background: #f6c457;
	border-radius: 100px;
	padding-top: 23px;
	height: 47px;
	width: 70px;
	font-size: 0.9em;
	overflow: hidden;
	display: inline-block;
	font-weight: normal;
	text-align: center;
}
/* END User */


/* New post */
#new-post{
	margin: 0 auto;
	max-width: 1000px;
}
#new-post h2{
	color: #666;
	font-size: 1.2em;
}
#post-body-editor{
	height: 500px;
}
#new-post label, #new-post label a{
	color: #888;
	font-size: 0.8em;
}
#new-post label a{
	text-decoration: underline;
}
/* END New post */


/* Posts */
#posts{
	margin: 50px auto;
	max-width: 1000px;
}
#quickpost-editor{
	line-height: 1.6em;
}
#posts .post{
	background: #fff;
	padding: 10px;
	margin-bottom: 6px;
	border-bottom: 1px solid #ddd;
	border-radius: 5px;
}
#posts .post h3{
	margin: 0;
}
#posts .post h3 pre{
	font-size: 0.88em;
	font-weight: normal;
	font-family: georgia, 'courier new', courier;
}
#posts .post h3 a{
	text-decoration: none;
	color: #000;
}
#posts .post h3 a:hover{
	color: #0000EE;
}
#posts .user-container{
	float: left;
	width: 90px;
	padding-left: 10px;
}
#posts .header-container{
	padding-left: 115px;
}
#posts .header-container h3{
	padding-top: 5px;
}
/* END Posts */



/* Post */
body.post{
	background: #fefefe;
}
#post{
	margin: 50px auto;
	max-width: 1000px;
}
#post .user-icon{
	margin-bottom: 0;
}
#post .title pre{
	letter-spacing: 1px;
	font-family: georgia, 'courier new', courier;
}
#post .title a{
	text-decoration: none;
	color: #000;
}
/* END Post */


/* Comments */
.comment{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}
.comment .user-container{
	float: left;
	width: 90px;
	padding-left: 10px;
	margin-bottom: 20px;
}
.comment .header-container{
	padding-left: 115px;
}
/* END comments */



/* Hashtags */
#hashtags{
	margin: 0 auto;
	max-width: 1000px;
}
/* End Hashtags */