body{
	font-size: 1.1em;
	background: #f9f9f9;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	line-height: 1.5;
	margin: 0;
}

a{
	text-decoration: none;
	color: #0000ee;
}

a:hover{
	text-decoration: underline;
}

label, .label{
	margin-top: 10px;
}

.input{
	font-size: 1em;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 5px;
}

.btn{
	font-size: 0.7em;
	border-radius: 4px;
	background: #ccc;
	padding: 5px 10px;
	border: 0;
}

.btn.btn-primary{
	background: #0000ee;
	color: #fff;
}

.btn.btn-muted{
	background: #aaa;
	color: #fff;
}


#flash{
	width: 700px;
	margin: 0 auto;
	background: #eee;
	padding: 10px 15px;
	border-radius: 3px;
	font-size: 0.9em;
}


/* Panel */
.panel{
	max-width: 50%;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 1px 1px #ccc;
}
.panel .heading{
	margin: 0;
	background: #eee;
	padding: 10px 10px 10px 5%;
	font-size: 1em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.panel .body{
	display: block;
	margin: 5% auto;
	width: 90%;	
}
/* END Panel */


/* Helpers */
.d-block{ display: block; }
.text-center{ text-align: center; }
.small{ font-size: 0.8em; }
.smaller{ font-size: 0.6em; }
.clear:after{
	clear: both;
	content: " ";
	display: block;
}
.text-muted{ color: #777; }
.border-bottom{ border-bottom: 1px solid #eee; }
.p-b{ padding-bottom: 20px; }
.m-b{ margin-bottom: 20px; }
/* END Helpers */



/* Login page */
#login {
	margin-top: 2%;
}
#login input, #login .input{
	font-size: 1em;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 5px;
}
/* END Login page */


/* Navbar */
#navbar{
	background: #dedede;
	padding: 10px 20px 8px 20px;
	border-bottom: 1px solid #d9d9d9;
}
#navbar form{
	display: inline;
}
#navbar-left{
	float: left;
	width: 70%;
}
#navbar-left h1{
	font-size: 1.1em;
	margin: 2px 25px 0 0;
	display: inline-block;
}
#navbar-right{
	float: right;
	text-align: right;
	width: 30%;
	font-size: 1em;
}
/* END Navbar */


/* Main */
#main{
	margin: 20px;
}
#main #flash{
	max-width: 80%;
	margin: 0 auto;
}
/* END Main */


/* User */
.user-icon{
	color: #fff;
	background: #f6c457;
	border-radius: 100px;
	padding-top: 23px;
	height: 47px;
	width: 70px;
	font-size: 0.9em;
	overflow: hidden;
	display: inline-block;
	font-weight: normal;
	text-align: center;
}
/* END User */


/* New post */
#new-post{
	margin: 0 auto;
	max-width: 1000px;
}
#new-post h2{
	color: #666;
	font-size: 1.2em;
}
#new-post textarea{
	display: block;
	width: 100%;
	height: 70%;
	border: 1px solid #ccc;
	outline: none;
	font-size: 1em;
	line-height: 1.6em;
	padding: 20px;
}
#new-post label, #new-post label a{
	color: #888;
	font-size: 0.8em;
}
#new-post label a{
	text-decoration: underline;
}
/* END New post */


/* Posts */
#posts{
	margin: 50px auto;
	max-width: 1000px;
}
#quickpost{
	line-height: 1.6em;
}
#posts .post{
	background: #fff;
	padding: 10px;
	margin-bottom: 8px;
	border-bottom: 1px solid #ddd;
}
#posts .post h3{
	font-size: 1em;
	font-weight: normal;
}
#posts .user-container{
	float: left;
	width: 100px;
}
#posts .header-container{
	padding-left: 115px;
}
#posts .header-container h3{
	padding-top: 5px;
}
/* END Posts */



/* Post */
#post{
	margin: 50px auto;
	max-width: 1000px;
}
#post .user-icon{
	margin-bottom: 0;
}
#post .title{
	font-weight: normal;
}
#post .body{
	font-size: 1.03em;
	font-family: 'courier new';
}
/* END Post */