body{
	font-size: 1.07em;
	background: #f6f6f6;
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
}

a{
	text-decoration: none;
	color: #0000ee;
}

a:hover{
	text-decoration: underline;
}

label, .label{
	margin-top: 10px;
}

input[type='text'], input[type='password'], textarea, .input{
	font-size: 1em;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 5px;
}

.btn{
	border-radius: 4px;
	background: #ccc;
	padding: 5px 10px;
	border: 0;
}

.btn-sm{
	font-size: 0.7em;
}

.btn.btn-primary{
	background: #0000ee;
	color: #fff;
}

.btn.btn-light{
	background: #e0e0e0;
	color: #000;
}

.btn.btn-muted{
	background: #aaa;
	color: #fff;
}


.table{
	margin-bottom: 20px;
}

.table thead th{
	border-bottom: 1px solid #777;
	padding: 10px;
}
.table tbody td{
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

/* Markdown */
.markdown{
	font-size: 1.03em;
	font-family: 'courier new', courier;
	line-height: 1.8em;
}
.markdown p{
	margin: 0;
}
/* End Markdown */


/* Helpers */
.d-block{ display: block; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.medium{ font-size: 0.9em; }
.small{ font-size: 0.8em; }
.smaller{ font-size: 0.6em; }
.clear:after{
	clear: both;
	content: " ";
	display: block;
}
.text-dark{ color: #333; }
.text-muted{ color: #777; }
.border-bottom{ border-bottom: 1px solid #eaeaea; }
.p-b{ padding-bottom: 20px; }
.p-t{ padding-top: 20px; }
.m-b{ margin-bottom: 20px; }
.m-t{ margin-top: 20px; }
/* END Helpers */


#main{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: 75vh;
}

#flash{
	width: 700px;
	margin: 5px auto 10px auto;
	background: #eee;
	padding: 10px 15px;
	border-radius: 3px;
	font-size: 0.9em;
	text-align: center;
}


/* Panel */
.panel{
	max-width: 50%;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 1px 1px #ccc;
}
.panel .heading{
	margin: 0;
	background: #eee;
	padding: 10px 10px 10px 5%;
	font-size: 1em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.panel .body{
	display: block;
	margin: 5% auto;
	width: 90%;	
}
/* END Panel */



/* Navbar */
#navbar{
	background: #dedede;
	padding: 12px 20px 12px 20px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 50px;
}
#navbar form{
	display: inline;
}
#navbar-left{
	float: left;
	width: 70%;
}
#navbar-left h1{
	font-size: 1.1em;
	margin: 2px 10px 0 0;
	display: inline-block;
}
#navbar-left #navbar-links{
	margin-left: 30px;
	font-size: 0.8em;
}
#navbar-left #navbar-links a{
	color: #333;
}
#navbar-right{
	float: right;
	text-align: right;
	width: 30%;
	font-size: 1em;
}
/* END Navbar */


/* User */
.user-icon{
	color: #fff;
	background: #f6c457;
	border-radius: 100px;
	padding-top: 23px;
	height: 47px;
	width: 70px;
	font-size: 0.9em;
	overflow: hidden;
	display: inline-block;
	font-weight: normal;
	text-align: center;
}
/* END User */



/* Post panel */
.post-panel{
	background: #fff;
	padding: 10px;
	margin-bottom: 6px;
	border-bottom: 1px solid #ddd;
	border-radius: 5px;
}
.post-panel h3{
	margin: 0;
}
.post-panel h3 .markdown{
	font-size: 0.88em;
	font-weight: normal;
	font-family: georgia, 'courier new', courier;
}
.post-panel h3 a{
	text-decoration: none;
	color: #000;
}
.post-panel h3 a:hover{
	color: #0000EE;
}
.post-panel .user-container{
	float: left;
	width: 90px;
	padding-left: 10px;
}
.post-panel .header-container{
	padding-left: 115px;
}
.post-panel .header-container h3{
	padding-top: 5px;
}
/* END post panel */



/* Post */
body.post-with-body{
	background: #fefefe;
}
#post{
	margin: 50px auto;
	max-width: 1000px;
}
#post .user-icon{
	margin-bottom: 0;
}
#post .title, #post .title pre{
	letter-spacing: 1px;
	font-family: georgia, 'courier new', courier;
}
#post .title a{
	text-decoration: none;
	color: #000;
}
/* END Post */


/* editor */
.editor{
   display: block;
   width: 100%;
   border: 1px solid #ccc;
   outline: none;
   font-size: 1em;
   font-family: 'courier new', courier;
   line-height: 1.8em;
   padding: 20px;
   tab-size: 4;
}

#post-title-editor{
   height: 20px;
   padding: 10px 20px;
   letter-spacing: 1px;
   font-family: georgia, 'courier new', courier;
}

#post-body-editor{
	height: 70vh;
}

/* END editor */


/* Comments */
body.post .comment{
	background: #fefefe;
}
body.post-with-body .comment{
	background: #fefefe;
}
.comment{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}
.comment .user-container{
	float: left;
	width: 90px;
	padding-left: 10px;
	margin-bottom: 20px;
}
.comment .header-container{
	padding-left: 115px;
}
/* END comments */



/* Shortcodes */
.shortcode-post .post-panel{
	border: 1px solid #ccc;
	width: 80%;
	margin-left: 15px;
	font-family: sans-serif;
}

.shortcode-calendar tbody td{
	padding: 20px;
}

.shortcode-calendar .marked{
	padding: 10px;
}

.shortcode-calendar .marked{
	background: #ddd;
	display: block;
	padding: 10px;
	border-radius: 7px;
}
/* End Shortcode */